
@font-face {
  font-family: yekan;
  src: url('../fonts/yekan.ttf');
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

* {
  font-size: 1rem;
  box-sizing: border-box;
  direction: rtl;
  color: #444;
  font-family: yekan, sans-serif;
}

.icon {
  width: 24px;
  height: 24px;
  margin: auto 4px;
}

.large-icon {
  width: 96px;
  height: 96px;
  margin: auto 6px;
}
